.container {
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 1rem;
}

.card {
  height: 55%;
  position: relative;
  overflow: hidden;
}

.info {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.612);
  padding: 1rem;
}

.info > *:first-child {
  margin-bottom: 0.5rem;
}

.description {
  padding: 1rem;
  flex: 1;
  background: rgb(220, 220, 220);
  background: linear-gradient(
    135deg,
    rgba(220, 220, 220, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  color: var(--dark-text);
  overflow-y: auto;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
